*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar{
  height: 100px;
  background-color: grey;
  align-content: center;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

a{
  text-decoration:none;
  color: purple;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
}
a:hover{
  color: rgb(208, 255, 0);
}



